.App {
  text-align: center;
}

.App-logo {
//animation: App-logo-spin infinite 20s linear;
  height: 90px;
}

.App-header {
  background-color: white;
  height: 175px;
  padding: 55px;
  color:#66757f;

}


.navbar{
  height: 175px;
  background-color: #1DA1F2;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

form{
  width:500px;
  margin:40px auto;
  border:none;
}

.searchBar{
  padding: 10px;
  font-size: 17px;
  border: #1da1f2;
  float: end;
  width: 90%;
  background: white;
  border-radius: 12px 0px 0px 12px;

}

form.form-inline button{
  float: end;
  width: 10%;
  padding: 10px;
  background: white;
  color: #FFA500;
  font-size: 17px;
  border: 1px #222;
  border-left: none;
  cursor: pointer;
  border-radius: 0px 12px 12px 0px;
}

.button:hover {
  background: #0b7dda;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card{
  width: 50rem;
  margin: 0 auto 65px;
}

.card-img-top{
  position: center;

  display: inline-block;

  width: 48px;
  margin: 10px;

  border: 2px solid #ccc;
  border-radius: 48px;
}
